<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.houserentalmanagementproject">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HouseRentalManagement">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAstRLiJWR9LOpxICg2CdXkGFbTZSV41BA" />
        <activity
            android:name=".user.ViewLocation"
            android:exported="true" />
        <activity
            android:name=".user.ViewMembers"
            android:exported="true" />
        <activity
            android:name=".user.HouseDetails"
            android:exported="true" />
        <activity
            android:name=".houseOwner.HouseDetails"
            android:exported="true" />
        <activity
            android:name=".houseOwner.ViewLocation"
            android:exported="true" />
        <activity
            android:name=".houseOwner.ViewMembers"
            android:exported="true" />
        <activity
            android:name=".houseOwner.AddMember"
            android:exported="true" />
        <activity
            android:name=".houseOwner.SeeHouse"
            android:exported="true" />
        <activity
            android:name=".houseOwner.AddHouse"
            android:exported="true"
            tools:ignore="MissingClass" />
        <activity
            android:name=".houseOwner.DashboardOwner"
            android:exported="true" />
        <activity
            android:name=".user.DashboardUser"
            android:launchMode="singleTop"
            android:exported="true" />
        <activity
            android:name=".user.ResetPasswordUser"
            android:exported="true" />
        <activity
            android:name=".user.LoginUser"
            android:exported="true" />
        <activity
            android:name=".user.RegisterUser"
            android:exported="true" />
        <activity
            android:name=".houseOwner.ResetPasswordOwner"
            android:exported="true" />
        <activity
            android:name=".houseOwner.LoginOwner"
            android:exported="true" />
        <activity
            android:name=".houseOwner.RegisterOwner"
            android:exported="true" />
        <activity
            android:name=".FullScreenImage"
            android:exported="true" />
        <activity
            android:name=".houseOwner.UpdateMember"
            android:exported="true" />
        <activity
            android:name=".user.UserProfile"
            android:launchMode="singleTop"
            android:exported="true" />
        <activity
            android:name=".user.UserSearch"
            android:launchMode="singleTop"
            android:exported="true" />
        <activity
            android:name=".houseOwner.UpdateHouse"/>
        <activity
            android:name=".user.MakePayment"/>
        <activity
            android:name="com.stripe.android.payments.StripeBrowserLauncherActivity"
            android:exported="true" />
        <activity
            android:name=".user.ViewBill"/>
        <activity
            android:name=".user.HouseRental"/>
        <activity
            android:name=".houseOwner.CreateBill"/>
        <activity
            android:name=".houseOwner.ViewBill"/>
        <activity
            android:name=".houseOwner.OwnerContract"/>
        <activity
            android:name=".user.MemberContract"/>
        <activity
            android:name=".ChangePassword"/>
        <activity
            android:name=".houseOwner.RevenueRecordChart"/>
        <activity
            android:name=".EmptyActivity"/>
        <activity
            android:name=".user.UpdateProfile"/>
        <activity
            android:name=".houseOwner.UpdateProfile"/>
        <activity
            android:name=".admin.AdminDashboard"/>
        <activity
            android:name=".admin.ManageAccounts"/>
        <activity
            android:name=".admin.ManageHouses"/>
        <activity
            android:name=".admin.ViewStatistics"/>
        <activity
            android:name=".admin.UpdateProfile"/>
        <activity
            android:name=".admin.AddUser"/>
        <activity
            android:name=".admin.ManageRenter"/>
        <activity
            android:name=".admin.ViewUser"/>
        <activity
            android:name=".admin.AddHouseOwner"/>
        <activity
            android:name=".admin.ManageHouseOwner"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.UpdateRenterAccount" />
        <activity android:name=".admin.ViewHouseOwner" />
        <activity android:name=".admin.UpdateHouseOwner" />
        <activity android:name=".admin.AddHouse" />
        <activity android:name=".admin.ViewHouse" />
        <activity android:name=".admin.UpdateHouse" />
        <activity android:name=".admin.HouseAction" />
    </application>

</manifest>